.task-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}
.card-content {
    display: flex; 
    flex-wrap: wrap;
    gap: .5rem;
    word-wrap: break-word; 
}

.card-action {
    display: flex; 
    gap: .5rem;
}